{% comment %}
Renders a product card

Accepts:
- product_card_product: {Object} Product Liquid object (optional)
- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
- add_image_padding: {Boolean} Enables padding on the image to space out the grid
- show_vendor: {Boolean} Show the product vendor. Default: false

Usage:
{% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
<div class="card-wrapper">
  <div class="card-img">
    <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
      <span class="visually-hidden">{{ product_card_product.title | escape }}</span>
      <div class="card card--product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}" tabindex="-1">
        <div class="card__inner">
          {%- if product_card_product.featured_media -%}
          {%- liquid
            assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

            if product_card_product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          -%}

          <div{% if add_image_padding %} class="card__media-full-spacer"{% endif %}>
            <div class="media media--transparent media--{{ media_size }} media--hover-effect"
                 {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
                 >
              <img 
                   src="{{ product_card_product.featured_media | img_url: '1044x' }}"
                   alt="{{ product_card_product.featured_media.alt | escape }}"
                   loading="lazy"
                   class="motion-reduce"
                   width="{{ product_card_product.featured_media.width }}"
                   height="{{ product_card_product.featured_media.height }}"
                   >

              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
              <img 
                   src="{{ product_card_product.media[1] | img_url: '1044x' }}"
                   alt="{{ product_card_product.media[1].alt | escape }}"
                   loading="lazy"
                   class="motion-reduce"
                   width="{{ product_card_product.media[1].width }}"
                   height="{{ product_card_product.media[1].height }}"
                   >
              {%- endif -%}          
            </div>
               
          </div>

          {%- else -%}
          <div class="card__content"><h2 class="card__text h2">{{ product_card_product.title | strip_html | truncatewords: 6 }}</h2></div>
          {%- endif -%}

          <!--         <div class="card__badge">
        {%- if product_card_product.available == false -%}
        <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}" aria-hidden="true">
        {{ 'products.product.sold_out' | t }}
        </span>
        {%- elsif product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
        <span class="badge badge--bottom-left" aria-hidden="true">
        {{ 'products.product.on_sale' | t }}
        </span>
        {%- endif -%}
        </div> -->
          
          {%- if product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
          <div class="grid-product__on-sale card__badge">
            {% capture saved_amount %}{{ product_card_product.compare_at_price | minus: product_card_product.price | money_without_trailing_zeros }}{% endcapture %}
            {%- assign number1 =  product_card_product.compare_at_price | times: 1 -%}
            {%- assign number2 =  product_card_product.price | times: 1 -%}
            {%- assign number3=  number1  | minus: number2  -%}
            {%- assign number4=  number3  | times: 100  -%}
            {%- assign numberSale =  number4| divided_by: product_card_product.compare_at_price -%}
            <span class="badge badge--bottom-left" aria-hidden="true">-{{ numberSale }}%</span>
          </div>
          {%- endif -%}
        </div>
      </div>
    </a> 
    <div class="product-hover">
       {%- render 'button-wishlist-compare', product: product_card_product -%}
      <div class="quick-view-button"><a class="quick-view cm-link btn--status" data-handle="{{ product_card_product.handle }}" data-pavailable="{% if product_card_product.available %}true{% else %}false{% endif %}" href="javascript:void(0);">{% render 'icon-quickview' %}</a></div>
      <div data-js-product data-product-handle="{{ product_card_product.handle }}"
           data-product-variant-id="{{ product_card_product.selected_or_first_available_variant.id }}">
      </div>
    </div>
  </div>                    


  <div class="card-information">
    <div class="card-information__wrapper">
      
      {%- if show_vendor -%}
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <div class="caption-with-letter-spacing light">{{ product_card_product.vendor }}</div>
      {%- endif -%}
      {%- if product_card_product.featured_media -%}
      <span class="card-information__text h5">
        <a href="{{ product_card_product.url | default: '#' }}">
          {{ product_card_product.title | strip_html | truncatewords: 10 }}
        </a>
      </span>
      {%- endif -%}          
      
       <div class="product__type">
          <span class="available js-variant-availability">{%- if product_card_product.available -%}In Stock{%- else -%}<span class="out-of-stock">Out Of Stock</span>{%- endif -%}</span>
       </div>
      
      {%- if show_rating -%}
      {%- if product_card_product.metafields.reviews.rating.value != blank -%}
        {% liquid
          assign rating_decimal = 0 
          assign decimal = product_card_product.metafields.reviews.rating.value.rating | modulo: 1 
          if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
          endif 
        %}
        <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product_card_product.metafields.reviews.rating.value, rating_max: product_card_product.metafields.reviews.rating.value.scale_max }}">
          <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product_card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product_card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
       {% comment %} <p class="rating-count">
          <span class="visually-hidden">({{ product_card_product.metafields.reviews.rating_count }})</span>
          <span aria-hidden="true">({{ product_card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }})</span>
        </p>{% endcomment %}
        </div>
       
       {%- else -%}
       
       <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product_card_product.metafields.reviews.rating.value, rating_max: product_card_product.metafields.reviews.rating.value.scale_max }}">
          <span aria-hidden="true" class="rating-star-empty color-icon-{{ settings.accent_icons }}" style="--rating: {{ product_card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product_card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
      {% comment %} <p class="rating-count">
          <span class="visually-hidden">({{ product_card_product.metafields.reviews.rating_count }})</span>
          <span aria-hidden="true">({{ product_card_product.metafields.reviews.rating_count }} {{ "accessibility.no_reviews" | t }})</span>
        </p> {% endcomment %}
        </div>
      {%- endif -%}
      {%- endif -%}
      
      {% render 'price', product: product_card_product, price_class: '' %}
      
      {% comment %} TODO: metafield {% endcomment %}
       
      <span class="caption-large">{{ product_card_product.description | strip_html | truncatewords: 25 }}</span>
      
       {% if template == 'collection' or  template == 'search' %}
         <div class="variant-links">   
            {%- unless product_card_product.has_only_default_variant -%}
            <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product_card_product.url }}">
              {%- for option in product_card_product.options_with_values -%}

              {%- if option.name == 'Color' -%}
              <fieldset class="js product-form__input">
                <legend class="form__label">{{ option.name }}</legend>
                {%- for value in option.values -%}
                <a href="{{ product_card_product.url | within: collection}}">
                  <label style="background-color:{{ value }}" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                    {{ value }}
                  </label>
                </a>
                {%- endfor -%}
              </fieldset>
              {%- endif -%}

              {%- endfor -%}
              <script type="application/json">
                         {{ product_card_product.variants | json }}
              </script>
            </variant-radios>
            {%- endunless -%}
          </div>
        {% endif %}
        
      <product-form class="product-form">
        {%- form 'product', product_card_product, id: product_card_product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="id" value="{{ product_card_product.selected_or_first_available_variant.id }}">
        <div class="product-form__buttons">
          {% if product_card_product.variants.size == 1 %}
          <button
                  type="submit"
                  name="add"
                  class="product-form__submit button"
                  {% if product_card_product.selected_or_first_available_variant.available == false %}disabled{% endif %} >
            {%- if product_card_product.selected_or_first_available_variant.available -%}
            {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
            {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </button>
          {% else %}
          <a href="{{ product_card_product.url | within: collection }}" class="product-form__submit button select-button" title="{{ 'products.product.select_option' | t }}">
            {{ 'products.product.select_option' | t }}
          </a>
          {% endif %}
        </div>
        {%- endform -%}
      </product-form>
    </div>
  </div>
</div>
