<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>


{{ 'section-bestseller-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}


<div class="collection bestseller page-width{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
  <div class="{% if section.settings.swipe_on_mobile %}title-wrapper-with-link{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
    <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
      {% if section.settings.swipe_on_mobile == false %}
        <div class="viewmore">
          <a class="button viewmore__btn" href="{{ section.settings.button_link }}">
            {{  section.settings.button_label }}
          </a>
        </div>
      {% endif %}
  </div>

  {%- liquid
    assign media_size = section.settings.image_ratio
    assign show_secondary_image = section.settings.show_secondary_image 
    assign add_image_padding = section.settings.add_image_padding 
    assign show_vendor = section.settings.show_vendor
    assign products_to_display = section.settings.collection.all_products_count

    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif
  %}
  <slider-component class="slider-mobile-gutter">
    <ul class="grid grid--2-col grid--4-col-desktop grid--4-col-tablet{% if products_to_display > 1 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet{% endif %}{% if section.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}" role="list">
      
      {% if section.settings.swipe_on_mobile == true %}
        {% assign product_limit=section.settings.products_to_show %} 
      {% else %} 
        {%assign product_limit=6 %} 
      {% endif %}
      
      {%- for product in section.settings.collection.products limit: product_limit -%}
        <li class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
          <span class="products">
          <div class="card-wrapper">
      <div class="card-img">
        <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
          <span class="visually-hidden">{{ product.title | escape }}</span>
          <div class="card card--product{% if product.featured_media == nil %} card--text-only card--soft{% endif %}" tabindex="-1">
            <div class="card__inner">
              {%- if product.featured_media -%}
                {%- liquid
                  assign featured_media_aspect_ratio = product.featured_media.aspect_ratio

                  if product.featured_media.aspect_ratio == nil
                    assign featured_media_aspect_ratio = 1
                  endif
                -%}

                <div{% if add_image_padding %} class="card__media-full-spacer"{% endif %}>
                  <div class="media media--transparent media--{{ media_size }} media--hover-effect"
                    {% if media_size == 'adapt' and product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
                  >
                    <img 
                      src="{{ product.featured_media | img_url: '239x' }}"
                      alt="{{ product.featured_media.alt | escape }}"
                      loading="lazy"
                      class="motion-reduce"
                      width="{{ product.featured_media.width }}"
                      height="{{ product.featured_media.height }}"
                    >

                    {%- if product.media[1] != nil and show_secondary_image -%}
                      <img 
                        src="{{ product.media[1] | img_url: '996x' }}"
                        alt="{{ product.media[1].alt | escape }}"
                        loading="lazy"
                        class="motion-reduce"
                      width="{{ product.media[1].width }}"
                      height="{{ product.media[1].height }}"
                      >
                    {%- endif -%}          
                  </div>
                </div>
              {%- else -%}
                <div class="card__content"><h2 class="card__text h2">{{ product.title }}</h2></div>
              {%- endif -%}


              {%- if product.compare_at_price > product.price and product.available -%}
                <div class="grid-product__on-sale card__badge">
                  {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
                  {%- assign number1 =  product.compare_at_price | times: 1 -%}
                  {%- assign number2 =  product.price | times: 1 -%}
                  {%- assign number3=  number1  | minus: number2  -%}
                  {%- assign number4=  number3  | times: 100  -%}
                  {%- assign numberSale =  number4| divided_by: product.compare_at_price -%}
                  <span class="badge badge--bottom-left" aria-hidden="true">-{{ numberSale }}%</span>
                </div>
               {%- endif -%}

            </div>
          </div>

        </a>
        
      </div> 
  
 
  
  <div class="card-information">
     <div class="card-information__wrapper">
       
          {%- if section.settings.show_rating -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
             {% liquid
                 assign rating_decimal = 0 
                 assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1 
                 if decimal >= 0.3 and decimal <= 0.7
                 assign rating_decimal = 0.5
                 elsif decimal > 0.7
                 assign rating_decimal = 1
                 endif 
              %}
           <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
             <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
           </div>
           {%- else -%}
           <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
             <span aria-hidden="true" class="rating-star-empty color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
           </div>
           {%- endif -%}
         {%- endif -%}
       
      	 {%- if show_vendor -%}
          	<span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          	<div class="caption-with-letter-spacing light">{{ product.vendor }}</div>
       	 {%- endif -%}
         {%- if product.featured_media -%}
            <span class="card-information__text h5">
             <a href="{{ product.url | default: '#' }}">
                {{ product.title | strip_html }}
             </a>
            </span>
         {%- endif -%} 
        {% render 'price', product: product, price_class: '' %}
       
          
         <product-form class="product-form">
           {%- form 'product', product, id: product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
           <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
           <div class="product-form__buttons">
             {% if product.variants.size == 1 %}
             <button
                     type="submit"
                     name="add"
                     class="product-form__submit button"
                     {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %} >
               {%- if product.selected_or_first_available_variant.available -%}
               {{ 'products.product.add_to_cart' | t }}
               {%- else -%}
               {{ 'products.product.sold_out' | t }}
               {%- endif -%}
             </button>
             {% else %}
               <a href="{{ product.url | within: collection }}" class="product-form__submit button select-button" title="{{ 'products.product.select_option' | t }}">
                 {{ 'products.product.select_option' | t }}
               </a>
             {% endif %}
           </div>
           {%- endform -%}
         </product-form>
     
      </div>
    </div>    
</div>
      </span>
        </li>
      {%- else -%}
        {%- for i in (1..6) -%}
          <li class="grid__item">
            {% render 'product-card-placeholder' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
      <div class="slider-buttons no-js-hidden">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>
</div>



{% schema %}
{
  "name": "t:sections.bestseller-collection.name",
  "tag": "section",
  "class": "bestseller-products spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Products",
      "label": "t:sections.bestseller-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.bestseller-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "t:sections.bestseller-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.bestseller-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.bestseller-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.bestseller-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.bestseller-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.bestseller-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.bestseller-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.bestseller-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.bestseller-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.bestseller-collection.settings.show_vendor.label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.bestseller-collection.settings.button_link.label"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.bestseller-collection.settings.button_label.label",
        "default": "View All Products"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.bestseller-collection.presets.name"
    }
  ]
}
{% endschema %}
