<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>


{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
<div class="page-width page-width-desktop">

	<div class="blog{% if section.settings.soft_background %} background-secondary{% endif %}{% if section.settings.heading == blank %} no-heading{% endif %}">
    <div class="{% if section.settings.heading == blank %} title-wrapper-with-link--no-heading{% endif %} title-wrapper--self-padded-tablet-down">
      <h2 class="blog__title title">{{ section.settings.heading | escape }}</h2>
      
    </div>
        {%- liquid
          if section.settings.post_limit <= section.settings.blog.articles_count
            assign posts_exceed_limit = true
          endif
        -%}
    	{%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
            <slider-component class="slider-mobile-gutter">
              <ul id="Slider-{{ section.id }}"
                class="blog__posts articles-wrapper grid grid--peek slider slider--tablet{% if posts_exceed_limit %} blog__posts--{{ section.settings.post_limit }}-items{% else %} blog__posts--{{ section.settings.blog.articles_count }}-items{% endif %}"
                role="list"
              >
                {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                  <li class="blog__post grid__item article slider__slide slider__slide--full-width">
                    {% render 'article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image %}
                  </li>
                {%- endfor -%}
              </ul>
                <div class="slider-buttons no-js-hidden">
                  <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                  <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
                </div>
            </slider-component>

    	{%- else -%}
            <div class="placeholder">
                <h2>
                  {{ 'sections.featured_blog.onboarding_title' | t }}
                </h2>
                <p class="rte-width">
                  {{ 'sections.featured_blog.onboarding_content' | t }}
                </p>
            </div>
    	{%- endif -%}
	</div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "featured-blog spaced-section",
  "settings": [
    
	{
      "type": "text",
      "id": "heading",
      "default": "Our latest blog",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 6,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    }
    
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.featured-blog.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "t:sections.featured-blog.blocks.title.settings.show_date.label"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "t:sections.featured-blog.blocks.title.settings.show_author.label"
        }
      ]
    },
    {
      "type": "summary",
      "name": "t:sections.featured-blog.blocks.summary.name",
      "limit": 1
    },
    {
      "type": "link",
      "name": "t:sections.featured-blog.blocks.link.name",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      },
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "summary"
        },
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}
